/* body, h1, h2, h3, h4, h5 {
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
} */
/* body {
  margin: 0;
  overflow-x: auto;
  min-width: 320px;
  background: #f5f7fa;
  font-size: 14px;
  color: #001f3d;
} */
.MuiFormHelperText-contained {
  margin-left: 3px !important;
}
.hello {
  width: 256px;
}
.hello2 {
   width: 256px;
   top: 64px;
   height: calc(100% - 64px);
}
/* .keyword-modal .MuiDialogTitle-root,
.logout-modal .MuiDialogTitle-root{
  background: #3F51B5;
  color: #fff;
} */
.keyword-modal .MuiTypography-h6 {
  font-size: 18px;
  line-height: 1.8;
}
.logout-modal .MuiTypography-h6 {
  font-size: 18px;
  line-height: 1.1;
}
.logout-modal .MuiDialogContent-root {
  padding: 18px 24px !important;
}
.keyword-modal .MuiDialogActions-root {
  padding: 14px;
}
.helperText {
 margin-top: -6px !important;
}
.tableHeader {
  font-size: 16px !important;
}
.tableHeader span{
  font-weight: 400;
}
.spinner {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner.table {
  height: 90vh;
}
.urlEcllips {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ml-2 {
  margin-left: 1rem !important;
}
.pl-4 {
  padding-left: 25px !important;
}
.incRank {
  color: #18d120 !important;
}
.decRank {
  color: #d82b1e !important;
}
.decRank svg {
  background: #ffe7e7 !important;
}
.sameRank {
  color: #3f51b5c2 !important;
}
.sameRank svg {
 background: #3f51b536 !important;
}
.noprevRank {
  color: #455f79 !important;
}
.noprevRank svg {
  background: #b5d2f347 !important;
}
.incRank svg,
.decRank svg,
.noprevRank svg,
.sameRank svg {
  padding: 3px;
  vertical-align: text-bottom;
  margin-left: 5px;
  height: 11px;
  width: 11px;
  background: #e7ffe8;
  border-radius: 20px;
}
.signinWrap {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.Toastify__toast {
  align-items: center;
  min-height: 54px !important;
}
.Toastify__close-button {
  margin: auto 6px !important;
}
.Toastify__toast--success {
    background: #3F51B5 !important;
}
 /* h5 {
    font-weight: 500 !important;
    font-size: 16px !important;
    letter-spacing: -0.05px !important;
  }  */