@media screen and (min-width: 720px) {
   ::-webkit-scrollbar {
   width: 5px;
 }
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
 }
 ::-webkit-scrollbar-thumb {
   background: grey; 
   border-radius: 8px;
 }
 ::-webkit-scrollbar-thumb:hover {
   background: rgba(128, 128, 128, 0.486); 
 }
}
@media screen and (max-width: 719px) {
  ::-webkit-scrollbar {
  display: none;
 }
 }
.MuiFormHelperText-contained {
  margin-left: 3px !important;
}
.keyword-modal .MuiTypography-h6 {
  font-size: 18px;
  line-height: 1.8;
}
.logout-modal .MuiTypography-h6 {
  font-size: 18px;
  line-height: 1.1;
}
.logout-modal .MuiDialogContent-root {
  padding: 18px 24px !important;
}
.keyword-modal .MuiDialogActions-root {
  padding: 14px;
}
.helperText {
 margin-top: -6px !important;
}
.tableHeader {
  font-size: 16px !important;
}
.tableHeader span{
  font-weight: 400;
}
.spinner {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner.table {
  height: 90vh;
}
.urlEcllips {
  max-width: 180px;
  min-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.emptyTable {
  text-align: center !important;
  opacity: 0.7;
  cursor: auto;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ml-2 {
  margin-left: 1rem !important;
}
.pl-4 {
  padding-left: 25px !important;
}
.pb-3 {
  padding-bottom: 24px !important;
}
.incRank {
  color: #18d120 !important;
}
.decRank {
  color: #d82b1e !important;
}
.decRank svg {
  background: #ffe7e7 !important;
}
.sameRank {
  color: #3f51b5c2 !important;
}
.sameRank svg {
 background: #3f51b536 !important;
}
.noprevRank {
  color: #455f79 !important;
}
.noprevRank svg {
  background: #b5d2f347 !important;
}
.incRank svg,
.decRank svg,
.noprevRank svg,
.sameRank svg {
  padding: 3px;
  vertical-align: text-bottom;
  margin-left: 5px;
  height: 17px;
  width: 17px;
  background: #e7ffe8;
  border-radius: 20px;
}
.signinWrap {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.Toastify__toast {
  align-items: center;
  min-height: 54px !important;
}
.Toastify__close-button {
  margin: auto 6px !important;
}
.Toastify__toast--success {
    background: #5664D2 !important;
}
.selectTable .MuiTableBody-root tr {
  cursor: pointer;
}
.selectTable .selectTablebtn {
  min-width: 10px;
}
.selectTable .selectTablebtn:hover {
  color: #5664D2;
  background: transparent;
}
.selectTable .selectTablebtn svg{
  width: 18px;
}
.selectTable .selectTablebtn .MuiButton-label {
  justify-content: flex-start;
}