body, h1, h2, h3, h4, h5 {
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}
body {
  margin: 0;
  overflow-x: auto;
  min-width: 320px;
  background: #f5f7fa;
  font-size: 14px;
  color: #001f3d;
}
.keyword-modal .MuiFormHelperText-contained {
  margin-left: 3px;
}
.keyword-modal .MuiDialogTitle-root {
  background: #3F51B5;
  color: #fff;
}
.keyword-modal .MuiTypography-h6 {
  font-size: 18px;
  line-height: 1.8;
}
.helperText {
 margin-top: -6px !important;
}
.tableHeader {
  font-size: 16px !important;
}
.tableHeader span{
  font-weight: 400;
}
.spinner {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner.table {
  height: 90vh;
}
.urlEcllips {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ml-2{
  margin-left: 1rem !important;
}